.loginPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "info form";
  color: white;
  gap: 26px;
}
.loginInfo {
  grid-area: info;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loginDesc {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  border-top: 3px dashed pink;
  padding: 16px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}
.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  padding: 16px;
  border: none;
  border-radius: 50px;
  color: #fff;
  margin-left: 15px;
  background: linear-gradient(to right, #e9617b, #fb9387);
  cursor: pointer;
}
.moreButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  padding: 16px;
  border: none;
  border-radius: 50px;
  color: #fff;
  margin-left: 15px;
  background: linear-gradient(to right, #cc6cfa, #6a67f7);
  cursor: pointer;
}
.loginForm {
  grid-area: form;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 16px;
}
.logo {
  width: 50%;
  height: 50%;
  object-fit: contain;
}
