.share {
  width: 70%;
  height: 50px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(197, 193, 193, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(197, 193, 193, 0.68);
  margin-left: 225px;
  margin-top: 50px;
  background-color: black;
}

.shareWrapper {
  padding: 10px;
}

.shareTop {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareInput {
  border: none;
  width: 95%;
  height: auto;
  background-color: black;
  margin-left: 20px;
  margin-top: 5px;
}
::placeholder {
  color: grey;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: grey;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: grey;
}

.shareInput:focus {
  outline: none;
  color: aliceblue;
}

.shareOptions {
  display: flex;
  margin-left: 20px;
  color: aliceblue;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareIcon {
  font-size: 18px;
  margin-right: 3px;
}

.shareOptionText {
  font-size: 14px;
  font-weight: 500;
}

.shareButton {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: green;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}
